version: '3.8'

# ---- Definição dos templates de serviço (para evitar repetição) ----
x-python-app: &python-app
  build:
    context: .
    dockerfile: python.Dockerfile
  networks:
    - mina-net
  environment:
    - DISPLAY=${DISPLAY}
  volumes:
    - /tmp/.X11-unix:/tmp/.X11-unix:rw
  depends_on:
    - mqtt-broker

x-caminhao-app: &caminhao-app
  build: ./caminhao_embarcado
  networks:
    - mina-net
  ipc: "host" # Permite que este contêiner use o IPC do host (para falar com a UI)
  depends_on:
    - mqtt-broker
    - simulador

x-ui-app: &ui-app
  <<: *python-app # Herda as propriedades do template x-python-app
  ipc: "host" # Permite que a UI use o IPC do host (para falar com o caminhão)
  depends_on:
    - mqtt-broker
# --------------------------------------------------------------------

services:
  # 1. O Broker MQTT (Servidor)
  mqtt-broker:
    image: eclipse-mosquitto:latest
    ports:
      - "1883:1883" # Expõe a porta do MQTT
    networks:
      - mina-net

  # 2. O Simulador (Python GUI)
  simulador:
    <<: *python-app
    volumes:
      - ./simulador_mina:/app # Mapeia a pasta do simulador para /app
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    command: ["python3", "simulador.py"]

  # 3. A Gestão da Mina (Python GUI)
  gestao-mina:
    <<: *python-app
    volumes:
      - ./gestao_mina:/app # Mapeia a pasta da gestão para /app
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    command: ["python3", "gestao_gui.py"]

  # 4. Os 5 Caminhões (C++)
  caminhao-1:
    <<: *caminhao-app
    command: ["1"] # Passa "1" como argumento para o ENTRYPOINT
  caminhao-2:
    <<: *caminhao-app
    command: ["2"]
  caminhao-3:
    <<: *caminhao-app
    command: ["3"]
  caminhao-4:
    <<: *caminhao-app
    command: ["4"]
  caminhao-5:
    <<: *caminhao-app
    command: ["5"]

  # 5. As 5 Interfaces Locais (Python GUI)
  ui-1:
    <<: *ui-app
    volumes:
      - ./interface_local:/app # Mapeia a pasta da UI para /app
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    command: ["python3", "local_ui.py", "1"] # Passa "1" como argumento
  ui-2:
    <<: *ui-app
    volumes:
      - ./interface_local:/app
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    command: ["python3", "local_ui.py", "2"]
  ui-3:
    <<: *ui-app
    volumes:
      - ./interface_local:/app
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    command: ["python3", "local_ui.py", "3"]
  ui-4:
    <<: *ui-app
    volumes:
      - ./interface_local:/app
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    command: ["python3", "local_ui.py", "4"]
  ui-5:
    <<: *ui-app
    volumes:
      - ./interface_local:/app
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    command: ["python3", "local_ui.py", "5"]

# Define a rede compartilhada
networks:
  mina-net:
    driver: bridge