# A 'version' é obsoleta, então removemos
services:
  # O nome do nosso único serviço
  atr_system:
    # Constrói a imagem usando o Dockerfile na pasta atual (.)
    build: .
    
    # --- Configuração da Interface Gráfica (GUI) ---
    # Compartilha o "display" do seu computador com o contêiner
    environment:
      - DISPLAY=${DISPLAY}
    # Monta o "socket" da interface gráfica
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      
    # --- Configuração de Rede e Processos ---
    # Permite que os processos C++ e Python se falem via IPC
    ipc: "host"
    
    # Mantém o terminal interativo (para o Pygame/Teclado)
    stdin_open: true
    tty: true